<section class="footer-section px-xl-20 px-lg-10 px-sm-7 bg-n100">
    <div class="container-fluid">
        <div class="row g-lg-0 g-6 justify-content-lg-between">
            <div class="col-xxl-12 col-12">
                <div class="p-4xl-20 p-xl-10 p-lg-8 p-6 border border-n0-1 bg-n0-5">
                    <div class="row row-cols-lg-6 g-6 justify-content-between">
                        <div class="col-lg-4 col-auto">
                            <div class="mb-lg-6 mb-4">
                                <div class="footer-logo mb-lg-4 mb-2">
                                    <img src="assets/images/logo-white.png" alt="logo">
                                </div>
                                <p class="text-n0 text-base fw-normal ch-40">
                                    Vendemos productos de calidad, 100% originales, diseñados para
                                    elevar tu experiencia diaria
                                </p>
                            </div>

                            <ul class="d-flex align-items-center gap-2 mb-lg-10 mb-md-8 mb-6">
                              
                                <li><a href="https://www.instagram.com/fanaticadacl/" class="icon-40px text-xl text-n0 bg-n2-8 box-style box-secondary2"><i
                                            class="ph-fill ph-instagram-logo"></i></a></li>
                               
                            </ul>

                            <ul class="d-flex align-items-center gap-2">
                                <li><img src="assets/images/visa.png" alt="visa"></li>
                                <li><img src="assets/images/mastercard.png" alt="mastercard"></li>
                            </ul>

                        </div>
                        <div class="col-auto">
                            <h4 class="text-animation-word text-n0 mb-lg-6 mb-4">Productos</h4>
                            <ul class="d-grid gap-lg-4 gap-2">
                                <li><a 
                                        class="text-n0 text-base fw-normal hover-text-secondary2" routerLink="/shop">Todos los productos</a>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="col-auto">
                            <h4 class="text-animation-word text-n0 mb-lg-6 mb-4">Fanaticada.cl</h4>
                            <ul class="d-grid gap-lg-4 gap-2">
                                <li><a routerLink="/home"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Inicio</a>
                                </li>
                                <li><a routerLink="/about"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Nosotros</a>
                                </li>
                                
                                <li><a routerLink="/shop"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Tienda</a>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="col-lg-4 col-auto">
                            <h4 class="text-animation-word text-n0 mb-lg-6 mb-4">Soporte</h4>
                            <ul class="d-grid gap-lg-4 gap-2">
                                <li><a routerLink="/about"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">FAQs</a>
                                </li>
                                <li><a routerLink="/about"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Cómo hacer un pedido</a>
                                </li>
                              
                                <li><a routerLink="/about"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Términos y Condiciones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="d-between flex-wrap-reverse py-lg-6 py-4">
            <p class="text-n0 text-base fw-normal">Copyright © <span class="currentYear"></span> <a routerLink="/home"
                    class="text-secondary2">Fanaticada.cl</a>. Todos los derechos reservados</p>
            <ul class="d-flex align-items-center gap-lg-6 gap-3">
                <li><a routerLink="/privacy" class="text-n0 text-base fw-normal hover-text-secondary2">Política de Privacidad</a></li>
                <li><a routerLink="/terms" class="text-n0 text-base fw-normal hover-text-secondary2">Términos y Condiciones</a>
                </li>
            </ul>
        </div>
    </div>
</section>