<section class="footer-section px-xl-20 px-lg-10 px-sm-7 bg-n100">
    <div class="container-fluid">
        <div class="row g-lg-0 g-6 justify-content-lg-between">
            <div class="col-xxl-8 col-12">
                <div class="p-4xl-20 p-xl-10 p-lg-8 p-6 border border-n0-1 bg-n0-5">
                    <div class="row row-cols-lg-6 g-6 justify-content-between">
                        <div class="col-lg-4 col-auto">
                            <div class="mb-lg-6 mb-4">
                                <div class="footer-logo mb-lg-4 mb-2">
                                    <img src="assets/images/logo-white.png" alt="logo">
                                </div>
                                <p class="text-n0 text-base fw-normal ch-40">
                                    Vendemos productos de calidad, 100% originales, diseñados para
                                    elevar tu experiencia diaria
                                </p>
                            </div>

                            <ul class="d-flex align-items-center gap-2 mb-lg-10 mb-md-8 mb-6">
                                <li><a href="" class="icon-40px text-xl text-n0 bg-n2-8 box-style box-secondary2"><i
                                            class="ph-fill ph-facebook-logo"></i></a></li>
                                <li><a href="" class="icon-40px text-xl text-n0 bg-n2-8 box-style box-secondary2"><i
                                            class="ph-fill ph-twitter-logo"></i></a></li>
                                <li><a href="" class="icon-40px text-xl text-n0 bg-n2-8 box-style box-secondary2"><i
                                            class="ph-fill ph-instagram-logo"></i></a></li>
                                <li><a href="" class="icon-40px text-xl text-n0 bg-n2-8 box-style box-secondary2"><i
                                            class="ph-fill ph-youtube-logo"></i></a></li>
                            </ul>

                            <ul class="d-flex align-items-center gap-2">
                                <li><img src="assets/images/visa.png" alt="visa"></li>
                                <li><img src="assets/images/mastercard.png" alt="mastercard"></li>
                            </ul>

                        </div>
                        <div class="col-auto">
                            <h4 class="text-animation-word text-n0 mb-lg-6 mb-4">Productos</h4>
                            <ul class="d-grid gap-lg-4 gap-2">
                                <li><a href="#"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Franelas</a>
                                </li>
                                <li><a href="#"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Accesorios</a>
                                </li>
                                <li><a href="#"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Niños</a>
                                </li>
                                <li><a href="#"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Hombre</a>
                                </li>
                                <li><a href="#"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Mujeres</a>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="col-auto">
                            <h4 class="text-animation-word text-n0 mb-lg-6 mb-4">Fanaticada.cl</h4>
                            <ul class="d-grid gap-lg-4 gap-2">
                                <li><a href="index.html"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Inicio</a>
                                </li>
                                <li><a href="about-us.html"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Nosotros</a>
                                </li>
                                <li><a href="services.html"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Servicios</a></li>
                                <li><a href="#"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Tienda</a>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="col-lg-3 col-auto">
                            <h4 class="text-animation-word text-n0 mb-lg-6 mb-4">Soporte</h4>
                            <ul class="d-grid gap-lg-4 gap-2">
                                <li><a href="#"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">FAQs</a>
                                </li>
                                <li><a href="#"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Política de Garantía</a>
                                </li>
                               
                                <li><a href="#"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Cómo hacer un pedido</a>
                                </li>
                                <li><a href="#"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Política de devolución</a></li>
                                <li><a href="#"
                                        class="text-n0 text-base fw-normal hover-text-secondary2">Términos y Condiciones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4">
                <div class="footer-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42292.8315719577!2d-106.56972643793605!3d52.084128685484096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5304f24dba300731%3A0x459e39b334a99d2c!2sCostco%20Wholesale!5e1!3m2!1sen!2sbd!4v1726546261198!5m2!1sen!2sbd"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
        <div class="d-between flex-wrap-reverse py-lg-6 py-4">
            <p class="text-n0 text-base fw-normal">Copyright © <span class="currentYear"></span> <a href="index.html"
                    class="text-secondary2">Fanaticada.cl</a>. Todos los derechos reservados</p>
            <ul class="d-flex align-items-center gap-lg-6 gap-3">
                <li><a href="#" class="text-n0 text-base fw-normal hover-text-secondary2">Política de Privacidad</a></li>
                <li><a href="#" class="text-n0 text-base fw-normal hover-text-secondary2">Términos y Condiciones</a>
                </li>
            </ul>
        </div>
    </div>
</section>